.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  display: contents;
}
.navigation-links-text {
  font-size: 32px;
  text-decoration: none;
}
.navigation-links-navlink1 {
  display: contents;
}
.navigation-links-text1 {
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  display: contents;
}
.navigation-links-text2 {
  font-size: 32px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.form-inline{
  top: 30px;
  flex: 3;
  right: 600px;
  width: 400px;
  height: 100px;
  
 
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.form-control{
  border-radius: 40px;
  border: 4px solid black;
  font-size: 28px;
  
  size: 32px;
  float: left;
  width: 120%;
  
}
.btn{
  border-radius: 40px;
  border: solid white;
  size: 40px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background-color: black;
}
.rootClassName {
  flex: 1;
  right: 0px;
  bottom: 18px;
  position: absolute;
  align-self: center;
}







.rootClassName8 {
  flex: 1;
  right: 0px;
  bottom: 18px;
  position: absolute;
  align-self: center;
}

.rootClassName10 {
  flex: 1;
  right: 0px;
  bottom: 18px;
  position: absolute;
  align-self: center;
}

.rootClassName12 {
  flex: 1;
  right: 0px;
  bottom: 18px;
  position: absolute;
  align-self: center;
}

@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.aboutus-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aboutus-header {
  width: 100%;
  height: 155px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.aboutus-navlink {
  display: contents;
}
.aboutus-image {
  width: 274px;
  height: 66px;
  text-decoration: none;
}
.aboutus-nav {
  top: 57px;
  flex: 1;
  right: 63px;
  width: 400px;
  height: 62px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.aboutus-menu-burger {
  display: none;
}
.aboutus-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.aboutus-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.aboutus-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.aboutus-image1 {
  height: 2rem;
}
.aboutus-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.aboutus-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.aboutus-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.aboutus-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.aboutus-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.aboutus-text {
  font-size: 3rem;
  text-align: center;
}
.aboutus-text1 {
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.aboutus-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.aboutus-button:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .aboutus-icon {
    display: flex;
  }
  .aboutus-text1 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .aboutus-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .aboutus-nav {
    display: none;
  }
  .aboutus-menu-burger {
    display: flex;
  }
  .aboutus-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .aboutus-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .aboutus-header {
    padding: var(--dl-space-space-unit);
  }
  .aboutus-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
