<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="/cars.html" class="navigation-links-navlink">
      <strong class="navigation-links-text"><span>Cars</span></strong>
    </a>
    <a href="/bikes.html" class="navigation-links-navlink1">
      <strong class="navigation-links-text1"><span>Bikes</span></strong>
    </a>
    <a href="/aboutus.html" class="navigation-links-navlink2">
      <strong class="navigation-links-text2"><span>About Us</span></strong>
    </a>
  </nav>
</div>
